<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Exercise Suite">
    <test name="API Tests">
        <classes>
            <class name="com.automationexercise.api.tests.BrandListTests"/>
            <class name="com.automationexercise.api.tests.CreateAccountTests"/>
            <class name="com.automationexercise.api.tests.DeleteAccountTests"/>
            <class name="com.automationexercise.api.tests.GetUserDetailByEmailTests"/>
            <class name="com.automationexercise.api.tests.ProductListTests"/>
            <class name="com.automationexercise.api.tests.SearchProductTests"/>
            <class name="com.automationexercise.api.tests.UpdateAccountTests"/>
            <class name="com.automationexercise.api.tests.VerifyLoginTests"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
</suite>